<br>
<div class="container">
  <h3 class="text-center">Transacciones en Exchanges</h3>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="open(content)"><i class="fas fa-plus-circle"></i> Nueva Transacción</button>
   
  </div>  
</div>
</div>
<br>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Precio</th>
        <th scope="col">Inversion</th>
        <th scope="col">Abrev</th>
        <th scope="col">Cripto</th>
        <th scope="col">Wallet</th>
        <th scope="col">Transacción</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ListaTransacciones | paginate: { itemsPerPage: 15, currentPage: p }">
        <th scope="row">{{ item.id}}</th>
        <td>{{ item.fecha | date:'dd/MM/YYYY'}}</td>
        <td>{{item.precio}}</td>
        <td>$ {{item.inversion | number:'1.2'}}</td>
        <td><i [class]="item.img"></i> {{ item.abrev}}</td>
        <td>{{item.cantidadCripto | number:'1.8'}}</td>
        <td>{{item.nombre}}</td>
        <td><i [class]="item.imgtt"></i> {{ item.tipoTrac}}</td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteTransaccion(item.id)"><i class="far fa-trash-alt"></i></button>
            <button class="btn btn-success btn-sm" style="margin-left: 1px;" (click)="getByIdTransaccion(item.id)"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
      
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" screenReaderCurrentLabel="You're on page"></pagination-controls>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registrar nueva Transacción <i class="{{SimboloTransaccion}}"></i></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col"><div class="form-group">
      <label for="exampleInputEmail1">Tipo de Transacción</label>
      <select class="form-control"(change)="OnCambiarTT($event)" [(ngModel)]="Vidtransaccion">
      <option *ngFor="let title of ListTipoTransaccion" [value]="title.id">
        {{title.nombre}}
      </option>
      </select>
      </div>
      </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Exchange</label>
            <select class="form-control" [(ngModel)]="VidExchange">
              <option *ngFor="let eh of ListExchange" [value]="eh.id">
                {{eh.nombre}}
              </option>
              </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Precio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="Vprecio">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Inversión $</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="VInversion">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Cantidad Cripto</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="Vcantidadcripto">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Cripto Divisa</label>
            <select class="form-control" [(ngModel)]="VidCriptomoneda">
              <option *ngFor="let cp of ListCriptoMoneda" [value]="cp.id">
                {{cp.nombre}}
              </option>
              </select>
            </div>
        </div>
        
      </div> 
      <div class="row">
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Exchange Destino</label>
          <select class="form-control" [(ngModel)]="VidExchangeDestino">
            <option *ngFor="let eh of ListExchange" [value]="eh.id">
              {{eh.nombre}}
            </option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Cantidad Cripto Destino</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="VcantidadCriptoDestino">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Cripto Divisa Destino</label>
            <select class="form-control" [(ngModel)]="VidcriptomonedaDestino">
              <option *ngFor="let cp of ListCriptoMoneda" [value]="cp.id">
                {{cp.nombre}}
              </option>
              </select>
            </div>
        </div>
        
      </div>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="guardarTransaccion()">Save</button>
    </div>
  </ng-template>
  
  <ng-template #modalupdate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Transacción </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col"><div class="form-group">
      <label for="exampleInputEmail1">Tipo de Transacción</label>
      <select class="form-control"(change)="OnCambiarTT($event)" [(ngModel)]="upidtransaccion">
      <option *ngFor="let title of ListTipoTransaccion" [ngValue]="title.id">
        {{title.nombre}}
      </option>
      </select>
      </div>
      </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Exchange</label>
            <select class="form-control" [(ngModel)]="upidExchange">
              <option *ngFor="let eh of ListExchange" [value]="eh.id">
                {{eh.nombre}}
              </option>
              </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Precio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="upprecio">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Inversión $</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="upInversion">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Cantidad Cripto</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="upcantidadcripto">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Cripto Divisa</label>
            <select class="form-control" [(ngModel)]="upidCriptomoneda">
              <option *ngFor="let cp of ListCriptoMoneda" [value]="cp.id">
                {{cp.nombre}}
              </option>
              </select>
            </div>
        </div>
        <input type="hidden" class="" id="exampleInputPassword1" [(ngModel)]="upId">
      </div> 
      
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="updateTransaccion()">Save</button>
    </div>
  </ng-template>
<!--
  <button (click)="simpleAlert()">Simple Alert</button>
  <button (click)="alertWithSuccess()">Alert with Success</button>
   <button (click)="confirmBox()">Confirm Box</button> 
-->