<br>
<div class="container">
  <h3 class="text-center">Transacciones en Exchanges</h3>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="open(content)"><i class="fas fa-plus-circle"></i> Nueva Transacción</button>
   
  </div>  
</div>
</div>
<br>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Precio</th>
        <th scope="col">Inversion</th>
        <th scope="col">Abrev</th>
        <th scope="col">Cripto</th>
        <th scope="col">Wallet</th>
        <th scope="col">Transacción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ListaTransacciones">
        <th scope="row">{{ item.id}}</th>
        <td>{{ item.fecha | date:'dd/MM/YYYY'}}</td>
        <td>{{item.precio}}</td>
        <td>$ {{item.inversion | number:'1.2'}}</td>
        <td><i [class]="item.img"></i> {{ item.abrev}}</td>
        <td>{{item.cantidadCripto | number:'1.8'}}</td>
        <td>{{item.nombre}}</td>
        <td><i [class]="item.imgtt"></i> {{ item.tipoTrac}}</td>
      </tr>
      
    </tbody>
  </table>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Registrar nueva Transacción <i class="{{SimboloTransaccion}}"></i></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col"><div class="form-group">
      <label for="exampleInputEmail1">Tipo de Transacción</label>
      <select class="form-control"(change)="OnCambiarTT($event)" [(ngModel)]="Vidtransaccion">
      <option *ngFor="let title of ListTipoTransaccion" [value]="title.id">
        {{title.nombre}}
      </option>
      </select>
      </div>
      </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Exchange</label>
            <select class="form-control" [(ngModel)]="VidExchange">
              <option *ngFor="let eh of ListExchange" [value]="eh.id">
                {{eh.nombre}}
              </option>
              </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Precio</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="Vprecio">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Inversión $</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="VInversion">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
          <label for="exampleInputPassword1">Cantidad Cripto</label>
          <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="Vcantidadcripto">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1">Cripto Divisa</label>
            <select class="form-control" [(ngModel)]="VidCriptomoneda">
              <option *ngFor="let cp of ListCriptoMoneda" [value]="cp.id">
                {{cp.nombre}}
              </option>
              </select>
            </div>
        </div>
        
      </div> 
  
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="guardarTransaccion()">Save</button>
    </div>
  </ng-template>
  
